<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8"/>
    <title>NASequencer Help</title>
    <link rel="stylesheet" type="text/css" href="../shared/help.css" />
    <script src="../shared/help.js"></script>
  </head>
  <body>
    <nav>
      <%- index %>
    </nav>

		<main>
      <a name="top"></a>
      <div class="top">
        <img src="../shared/AppIcon.png" alt="" height="190" width="190" />
        <h1>NASequencer Help</h1>
        <ul>
          <li>
            <a class="js-transit" href="#overview">Overview</a>
          </li>
          <li>
            <a id="topic" href="#">Show topics</a>
          </li>
        </ul>
      </div>

      <a name="overview"></a>
      <div class="overview">
        <h2>NASequencer Overview</h2>
        <%- overview %>
      </div>

      <a name="getting_started"></a>
      <div class="getting_started">
        <h2>Getting Started</h2>
        <%- getting_started %>
      </div>

      <a name="operation_manual"></a>
      <a name="general"></a>
      <a name="preference"></a>
      <div class="operation_manual">
        <h2>Operation Manual</h2>

        <div class="general">
          <h3 >General</h3>
          <%- general %>
        </div>

        <div class="preference">
          <h3>Preferences</h3>
          <%- preference %>
        </div>
      </div>

      <a name="syntax_reference"></a>
      <a name="nas"></a>
      <a name="abc"></a>
      <a name="mml"></a>
      <div class="syntax_reference">
        <h2>Syntax Reference</h2>

        <div class="nas">
          <h3 >Note as Sequence</h3>
          <%- nas %>
        </div>

        <div class="abc">
          <h3>ABC Notation</h3>
          <%- abc %>
        </div>

        <div class="mml">
          <h3>Music Macro Language</h3>
          <%- mml %>
        </div>
      </div>

      <a name="support"></a>
      <div class="support">
        <h2>Customer Support</h2>
        <%- support %>
      </div>

      <a name="license"></a>
      <div class="license">
        <h2>Third-Party Licences</h2>
        <%- license %>
      </div>
    </main>
  </body>
</html>
