<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Syntax Refernce</title>
<style>
td {
  padding-left: 50px;
}
</style>
</head>
<body>
<h1>Syntax Refernce</h1>

<h2>Table of Contents</h2>
<ul>
% directives.each do |dir|
  <li>
    <a href="#<%= dir['name'] %>"><%= dir['name'] %></a>
  </li>
% end
</ul>

% directives.each do |dir|
<h2 id="<%= dir['name'] %>" style="display: inline;"><%= dir['name'] %></h2><p><%= dir['synopsis'] %></p>
%   if dir['description']
<pre><%= dir['description'] %></pre>
%   end

%   if dir['required']
<h3>Required</h3>
%     dir['required'].each do |req|
<h4><%= req['name'] %></h4>
%       if req['description']
<pre><%= req['description'] %></pre>
%       end
%
%       if req['example']
<h5>Example</h5>
<table>
  <tr>
%         req['example'].each do |code|
    <td>
      <pre><code><%= code %></code></pre>
    </td>
%         end
  </tr>
</table>
%       end
%     end
%   end

%   if dir['optional']
<h3>Optional</h3>
%     dir['optional'].each do |opt|
<h4><%= opt['name'] %></h4>
%       if opt['description']
<pre><%= opt['description'] %></pre>
%       end
%
%       if opt['example']
<h5>Example</h5>
<table>
  <tr>
%         opt['example'].each do |code|
    <td>
      <pre><code><%= code %></code></pre>
    </td>
%         end
  </tr>
</table>
%       end
%     end
%   end
% end

</body>
</html>
