<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
  <meta content="<%= title %>" name="title" />
  <meta content="<%= description %>" name="description" />
<% if (keywords) { -%>
  <meta content="<%= keywords %>" name='keywords' />
<% } -%>

  <meta property="og:type" content="<%= og_type %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:image" content="https://nasequencer.com/og-image.png" />
  <meta property="og:url" content="https://nasequencer.com/" />
  <meta property="og:site_name" content="NASequencer" />

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

<% if (canonical) { -%>
  <link rel="canonical" href="<%= canonical %>" />
<% } -%>
</head>
