<!DOCTYPE html>
<html lang="en">
<% include _header.ejs -%>
<body>
<% include _navigation.ejs -%>

  <section>
    <div class="help">
      <h1>NASequencer Help</h1>

      <h2>Table of Contents</h2>
      <%- site_help_index %>

      <h2 id="getting_started">Getting Started</h2>
      <%- getting_started %>

      <h2 id="operation_manual">Operation Manual</h2>
      <h3 id="general">General</h3>
      <%- general %>
      <h3 id="preference">Preferences</h3>
      <%- preference %>

      <h2 id="syntax_reference">Syntax Reference</h2>
      <h3 id="nas">Note as Sequence</h3>
      <%- nas %>
      <h3 id="abc">ABC Notation</h3>
      <%- abc %>
      <h3 id="mml">Music Macro Language</h3>
      <%- mml %>
    </div>
  </section>

<% include _footer.ejs -%>
</body>
</html>
